---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&difficulty=easy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Science & Nature","type":"multiple","difficulty":"easy","question":"How
        many planets are in our Solar System?","correct_answer":"Eight","incorrect_answers":["Nine","Seven","Ten"]},{"category":"Entertainment:
        Video Games","type":"multiple","difficulty":"easy","question":"What was the
        name of the cancelled sequel of Team Fortress?","correct_answer":"Team Fortress
        2: Brotherhood of Arms","incorrect_answers":["Team Fortress 2: Desert Mercenaries","Team
        Fortress 2: Operation Gear Grinder","Team Fortress 2: Return to Classic"]},{"category":"Entertainment:
        Japanese Anime & Manga","type":"boolean","difficulty":"easy"[...]
