---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category=9&difficulty=easy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"General Knowledge","type":"multiple","difficulty":"easy","question":"What
        word represents the letter &#039;T&#039; in the NATO phonetic alphabet?","correct_answer":"Tango","incorrect_answers":["Target","Taxi","Turkey"]},{"category":"General
        Knowledge","type":"boolean","difficulty":"easy","question":"Nutella is produced
        by the German company Ferrero.","correct_answer":"False","incorrect_answers":["True"]},{"category":"General
        Knowledge","type":"multiple","difficulty":"easy","question":"How many colors
        are there in a rainbow?","correct_answer":"7","incorrect_answers":["8","9","10"]},{"category":"General
        Knowledge","type":"boolean","difficulty":"e[...]
