---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&difficulty=easy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Video Games","type":"multiple","difficulty":"easy","question":"Who
        is the main character of the game Half-Life: Opposing Force?","correct_answer":"Adrian
        Shephard","incorrect_answers":["Gordon Freeman","Alyx Vance","Barney Calhoun"]},{"category":"Entertainment:
        Video Games","type":"multiple","difficulty":"easy","question":"Which of these
        video game engines was made by the company Epic Games?","correct_answer":"Unreal","incorrect_answers":["Unity","Game
        Maker: Studio","Cry Engine"]},{"category":"Geography","type":"multiple","difficulty":"easy","question":"If
        soccer is called football in England, what is American football called in
        England?","correct_answer":"American football","incorrect_answers":["Combball","Handball","Touchdown"]},{"category":"Entertainment:
        Video Games","type":"multiple","difficulty":"easy","question":"In the 2002
        video game &quot;Kingdom Hearts&quot;, how many Keyblades are usable?","correct_answer[...]
