---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&difficulty=easy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Science: Mathematics","type":"boolean","difficulty":"easy","question":"A
        universal set, or a set that contains all sets, exists.","correct_answer":"False","incorrect_answers":["True"]},{"category":"Entertainment:
        Video Games","type":"multiple","difficulty":"easy","question":"Which of these
        is NOT a playable character in the 2016 video game Overwatch?","correct_answer":"Invoker","incorrect_answers":["Mercy","Winston","Zenyatta"]},{"category":"Entertainment:
        Film","type":"multiple","difficulty":"easy","question":"Which movie includes
        a giant bunny-like spirit who has magic powers including growing trees?","correct_answer":"My
        Nei[...]
