---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category=9&difficulty=easy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"General Knowledge","type":"multiple","difficulty":"easy","question":"What
        does a funambulist walk on?","correct_answer":"A Tight Rope","incorrect_answers":["Broken
        Glass","Balls","The Moon"]},{"category":"General Knowledge","type":"multiple","difficulty":"easy","question":"What
        is the name of the Jewish New Year?","correct_answer":"Rosh Hashanah","incorrect_answers":["Elul","New
        Year","Succoss"]},{"category":"General Knowledge","type":"multiple","difficulty":"easy","question":"How
        many colors are there in a rainbow?","correct_answer":"7","incorrect_answers":["8","9","10"]},{"category":"General
        Knowledge","ty[...]
