---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&difficulty=easy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Film","type":"multiple","difficulty":"easy","question":"What
        breed of dog was Marley in the film &quot;Marley &amp; Me&quot; (2008)?","correct_answer":"Labrador
        Retriever","incorrect_answers":["Golden Retriever","Dalmatian","Shiba Inu"]},{"category":"Entertainment:
        Film","type":"multiple","difficulty":"easy","question":"Who wrote and directed
        the 1986 film &#039;Platoon&#039;?","correct_answer":"Oliver Stone","incorrect_answers":["Francis
        Ford Coppola","Stanley Kubrick","Michael Cimino"]},{"category":"Entertainment:
        Cartoon & Animations","type":"multiple","difficulty":"easy","question":"What
        was the first Disney movie to use CGI?","correct_answ[...]
