---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&difficulty=easy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Film","type":"multiple","difficulty":"easy","question":"Who
        played Deputy Marshal Samuel Gerard in the 1993 film &quot;The Fugitive&quot;?","correct_answer":"Tommy
        Lee Jones","incorrect_answers":["Harrison Ford","Harvey Keitel","Martin Landau"]},{"category":"Science:
        Computers","type":"boolean","difficulty":"easy","question":"Linus Torvalds
        created Linux and Git.","correct_answer":"True","incorrect_answers":["False"]},{"category":"History","type":"multiple","difficulty":"easy","question":"Which
        of the following African countries was most successful in resisting colonization?","correct_answer":"Ethiopia","incorrect_answers":["C&ocirc;te
        d&rsquo;Ivoire","Co[...]
