---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&category=9&difficulty=easy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"General Knowledge","type":"multiple","difficulty":"easy","question":"Which
        company did Valve cooperate with in the creation of the Vive?","correct_answer":"HTC","incorrect_answers":["Oculus","Google","Razer"]},{"category":"General
        Knowledge","type":"multiple","difficulty":"easy","question":"In past times,
        what would a gentleman keep in his fob pocket?","correct_answer":"Watch","incorrect_answers":["Money","Keys","Notebook"]},{"category":"General
        Knowledge","type":"multiple","difficulty":"easy","question":"What is the name
        of the Jewish New Year?","correct_answer":"Rosh Hashanah","incorrect_answers":["Elul","New
        Year","Succoss"]},{"ca[...]
