---
http_interactions:
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&difficulty=easy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"Entertainment: Video Games","type":"multiple","difficulty":"easy","question":"Which
        Greek letter represents the &quot;Half-Life&quot; logo?","correct_answer":"Lambda","incorrect_answers":["Omega","Alpha","Sigma"]},{"category":"Geography","type":"multiple","difficulty":"easy","question":"Which
        of these is NOT an Australian state or territory?","correct_answer":"Alberta","incorrect_answers":["New
        South Wales","Victoria","Queensland"]},{"category":"Entertainment: Board Games","type":"multiple","difficulty":"easy","question":"How
        many dots are on a single die?","correct_answer":"21","incorrect_answers":["24","15","18"]},{"category":"Geography","type":"multipl[...]
